@tailwind base;
/*{
  "first_name":"miles",
  "last_name":"jay",
  "username":"milesjay45",
  "email":"miles@gmail.com",
  "password":"12@Ta5dghu",
  "repeat_password":"12@Ta5dghu"

}*/
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height:auto;
  min-height:100vh;
}
#root{
  min-height:100vh;
  height:100%;
  position:relative;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.scaleup{
  animation-name: scaleUp;
  animation-duration:1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
 
}
@keyframes scaleUp{
  0%{
    height: 75px;
    width:75px;
  }
  50%{
    height:50px;
    width:50px;

  }
  100%{
    height: 75px;
    width: 75px;

  }
}
.debug{
  border: 1px solid #000;
}
.hide{
  display:none;
}
@media (min-width:1024px) {
  .hide{
    display: block;
  }
}
.borderStuff{
  border-top-right-radius: 0.85rem;
  border-bottom-right-radius: 0.85rem;
}
@media (min-width:768px){
  .img-width{
    width:45%;
  }
}
@media(min-width:1000px){
  .img-width{
    width:50%;
  }
}